*.o
html/*
attic/*
/.project
/.cproject
/.pydevproject
/.externalToolBuilders
/.settings
.directory
.depend
generated*
sysroots
bitbake-logs
camogm
camogm_test
all_sources.lst
excluding.lst
including.lst

doxygen.tag
/image
/scripts
/html

/src/camogm_fifo_reader
/src/camogm_fifo_writer